html{
    height: 100%;
}
body{
    height: 102%;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -30px;
    
}

#headsection {
    height: 55px;                /* fixed height for consistency */
    width: 100%;
    font-size: 22px;
    text-align: center;
    background: black;
    color: yellow;
    border-bottom: 2px solid yellow;
    display: flex;
    align-items: center;         /* vertical centering */
    justify-content: center;     /* horizontal centering */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5px;
}




#logoutButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}


#content{
    text-align: center;
    margin: 125px 0px 0px 225px;
}

#navbar {
    position: fixed;
    top: 55px;                   /* matches header height */
    left: 0;
    width: 200px;                /* clean, consistent width */
    height: calc(100vh - 55px); /* fill page below header */

    background: black;
    border-right: 1px solid yellow;

    display: flex;
    flex-direction: column;
    gap: 15px;                   /* spacing between links */
    
    padding: 20px;
    box-sizing: border-box;
    z-index: 5;
}

#navbar .link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 0;
    background-color: yellow;
    padding: 2.5px;
    font-weight: 600;
}

#navbar .link:hover {
    opacity: 0.6;
}

form {
    background-color: black;
}

.link{
    font-size: x-large;
    display: block;
}
#navhead{
    font-size: x-large;
    font-weight: 600;
}

.genreSection {
    text-align: left;
}

.cover{
    height: 85%;
    width: 10%;
}
.cover_form{
    background-color: blue;
}